.icon-select__container {
    position: relative;
    padding-left: 1.5rem;
    margin-right: 1.5rem;
    line-height: 2;
}

.icon-select__image {
    position: absolute;
    left: 0;
    max-height: 1.25rem;
    top: 4px;
}